{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ site.Title }},
  "url": {{ site.Home.Permalink }}
}
</script>
{{- else if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify }},
  "description": {{ with .Description }}{{ . }}{{ else }}{{ .Title | plainify }}{{ end }},
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | safeHTML }}
  }
}
</script>
{{- end }}
